:root{
    --cor-principal: #00B2B2;
    --cor-secundaria: #CCDDDD;
    --verde-botao-menu: #4FCACA;
    --verde-botao-menu-hover: #5fdada;
    --verde-confirmar: #04D361;
    --verde-confirmar-hover: #1de276;
    --verde-escuro: #035B5B;
    --verde-escuro-hover: #218080;
    --vermelho: #FF6060;
    --vermelho-hover: #ff8b8b;
    --azul: #04AED3;
    --azul-hover: #1dc6ec;
    --branco: white;
    --cinza: #F2F2F2;
    --laranja: #ffc039;
    --laranja-hover: #ffcc5e;
}

*{
    padding: 0;
    margin: 0;
}